<!-- @author Riya & Andrea -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Form</title>

<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<!-- <link rel="stylesheet" href="../../jq/jquery-ui.css" type="text/css" /> -->
<script src="../../jquery/jquery-3.6.0.js"></script>
<script src="../../jq/jquery-ui.min.js"></script>
</head>



<body>
	<div style="text-align: right; font-style: italic;">Riya Modi</div>
	<!-- computer science header -->
	<div class="w3-large">
		<h1>Computer Science Department</h1>
	</div>

	<!-- Survey form header action="processForm" method="post" id="form-->
	<h5 class="survey-form">Survey Form</h5>

	<form #surveyForm="ngForm" id="surveyform"  action="#" (ngSubmit)= "surveyForm.form.valid && submitSurvey(surveyForm.value)" id="form"
		class=" w3-container w3-light-grey w3-text-black " autocomplete="on">
		<div id="error"></div>
		<!-- required field note  -->
		<div style="padding-bottom: 20px; font-weight: bold;">
			Note: <span class="required ">*</span> Required field
		</div>
		<div *ngIf="studentid.invalid && (surveyForm.submitted)" class="alert-danger">
			<div [hidden]="!studentid.errors.required">
			   StudentId is required.
			</div>
		  </div>
		<div>
			<strong>StudentId: <span class="required">* </span></strong> 
      <input ngModel #studentid="ngModel" id="studentid" class="w3-text " name="studentid" autofocus type="text " size="25 " placeholder="student id " required/> 
      <!-- <br> -->
		</div>
		<div *ngIf="username.invalid && (surveyForm.submitted)" class="alert-danger">
			<div [hidden]="!username.errors.required">
			   Username is required.
			</div>
		</div>

		<div>
			<strong>Username: <span class="required">*</span></strong> 
      <input ngModel #username="ngModel" id="username" class="w3-text " name="username" autofocus
				type="text " size="25 " placeholder="username" required/>
		</div>

		<div *ngIf="address.invalid && (surveyForm.submitted)" class="alert-danger">
			<div [hidden]="!address.errors.required">
			   Address is required.
			</div>
		</div>
		<div>
			<strong>Street address: <span class="required">*</span></strong>

			<textarea ngModel #address="ngModel" id="address" name="address" rows="5 " cols="40 "
				placeholder="address" required></textarea>
		</div>


		<div>
			<strong>City:</strong> 
      <input ngModel #city="ngModel" name="city" type="text " size="25 " placeholder="city " />
		</div>
		<div>
			<strong>State:</strong> 
      <input ngModel #state="ngModel" name="state" type="text" size="25" placeholder="state " />
		</div>
		<div>
			<strong>Zip code:</strong> 
      <input ngModel #zip="ngModel" id="zip" name="zip" type="text" size="25 " placeholder="zip-code" />
		</div>

		<div>
			<strong>Telephone number:</strong> 
      <input ngModel #telephone="ngModel" type="tel" id="telephone" name="telephone" placeholder="(###)-(###)-(####) " />

		</div>
		<div *ngIf="email.invalid && (surveyForm.submitted)" class="alert-danger">
			<div [hidden]="!email.errors.required">
			   Email is required.
			</div>
		</div>
		<div>
			<strong>Email:<span class="required ">*</span></strong> 
      <input ngModel #email="ngModel" id="email" name="email" type="email" size="25" placeholder="name@domain.com" required/>
		</div>
		<div>
			<strong>URL:</strong> 
      <input ngModel #url="ngModel" name="url" type="url" size="25" placeholder="https://www.name.com " />
		</div>
		
      <label for="likemostbox">What do you like most about GMU?</label><br>
      <div *ngFor="let liked of like">
        <label>{{liked.name}}
            <input class="w3-check" name="likedmost" type="checkbox" [(ngModel)]="liked.selected">
        </label>
      </div>
    
		
		<p>
			<strong>How they became interested in the university: <span
				class="required">*</span></strong><br /> <label> 
          <input ngModel id="radiobutton" class="w3-radio" name="interested" type="radio" value="friends" /> Friends
			</label><br /> <label>
        <input ngModel id="radiobutton1" class="w3-radio" name="interested" type="radio" value="television" /> Television </label><br />
			<label>
        <input ngModel id="radiobutton2" class="w3-radio" name="interested" type="radio" value="internet" /> Internet </label><br />

			<label>
        <input ngModel id="radiobutton3" class="w3-radio "
				name="interested" type="radio" value="other " /> Other </label><br />
		</p>

		<!-- comment box -->
		<div>
			<strong>Comments: </strong>
			<textarea class=" w3-text " class="w3-textarea " name="notes"
				rows="5 " cols="40 " placeholder="notes "></textarea>
		</div>

	
		<!-- School recommendation  -->
		<div style="padding-bottom: 20px;">
			<strong> Recommend this school to other: </strong> <select
				name="recommend" id="recommend">
				<option value="Very-Likely">Very Likely</option>
				<option value="Likely">Likely</option>
				<option value="Unlikely">Unlikely</option>
			</select>
		</div>

		<div style="padding-bottom: 20px;">
			<div *ngIf="data.invalid && (surveyForm.submitted)" class="alert-danger">
				<div [hidden]="!data.errors.required">
				   Data field is required, please enter 10 comma separated numbers.
				</div>
			  </div>
			<strong> Data: (At least ten comma separated numbers)<span class="required">*</span></strong> 
        <input ngModel #data="ngModel" id="data" class="w3-text" type="text" name="data" required/>
		</div>

		<!-- submit and reset button -->
		<div style="padding-bottom: 20px;">
      <button type="submit" id="submit" type="submit">Submit Student Survey</button> 
      <button (click)="clearSurvey()">Cancel</button>
		</div>




	</form>


</body>
</html>

