
<!DOCTYPE html>
<html lang="en" dir="ltr">
<title>SWE 642 Student Survey HW4</title>

<body>
  <div>
    <h1>SWE 642 Student Survey HW4</h1>
    <br>
    <br>
    <!-- <form #surveyForm="ngForm" id="surveyform" action="#" (ngSubmit)= "surveyForm.form.valid && submitSurvey(surveyForm.value)">
      <label for="fname">First Name</label><br>
      <input ngModel #fname="ngModel" id="fname" type="text" name="fname" placeholder="Enter your first name" required>

      <div *ngIf="fname.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!fname.errors.required">
           First name is required.
        </div>
      </div>

      <label for="lname">Last Name</label><br>
      <input ngModel #lname="ngModel" id="lname" type="text" name="lname" placeholder="Enter your last name" required>

      <div *ngIf="lname.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!lname.errors.required">
           Last name is required.
        </div>
      </div>

      <label for="streetaddr">Street Address</label><br>
      <input ngModel #streetaddr="ngModel" id="streetaddr" type="text" name="streetaddress" placeholder="Enter your street address" required>

      <div *ngIf="streetaddr.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!streetaddr.errors.required">
           Street address is required.
        </div>
      </div>

      <label for="city">City</label><br>
      <input ngModel #city="ngModel" id="city" type="text" name="city" placeholder="Enter your city" required>

      <div *ngIf="city.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!city.errors.required">
           City is required.
        </div>
      </div>

      <label for="state">State</label><br>
      <input ngModel #state="ngModel" id="state" type="text" name="state" placeholder="Enter your state" required>

      <div *ngIf="state.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!state.errors.required">
           State is required.
        </div>
      </div>

      <label for="zip">Zip Code</label><br>
      <input ngModel #zip="ngModel" id="zip" type="text" name="zip" placeholder="Enter your zip" required>

      <div *ngIf="zip.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!zip.errors.required">
           Zip Code is required.
        </div>
      </div>

      <label for="number">Phone Number</label><br>
      <input ngModel #number="ngModel" id="number" type="text" name="number" placeholder="Enter your phone number (XXX)XXX-XXXX" required>

      <div *ngIf="number.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!number.errors.required">
           Phone number is required.
        </div>
      </div>

      <label for="email">Email</label><br>
      <input ngModel #email="ngModel" id="email" type="text" name="email" placeholder="Enter your email" required>

      <div *ngIf="email.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!email.errors.required">
           Email is required.
        </div>
      </div>

      <label for="date">Survey Date</label><br>
      <input ngModel #date="ngModel" id="date" input type="date" name="surveydate" placeholder="Enter your survey date (MM/DD/YY)" required>

      <div *ngIf="date.invalid && (surveyForm.submitted)" class="alert-danger">
        <div [hidden]="!date.errors.required">
           Date is required.
        </div>
      </div>

      <br>
      <br>
      
      <label for="likemostbox">What do you like most about GMU?</label><br>
      <div *ngFor="let liked of like">
        <label>{{liked.name}}
            <input name="likedmost" type="checkbox" [(ngModel)]="liked.selected">
        </label>
      </div>
  
      <label for="interest">How did you become interested in GMU?</label><br>
      <input ngModel type="radio" name="interest" value="friends">Friends
      <input ngModel type="radio" name="interest" value="television">Television
      <input ngModel type="radio" name="interest" value="internet">Internet
      <input ngModel type="radio" name="interest" value="others">Other
      <br>
      <br>
      <label for="recommend">How likely are you to recommend GMU to other prospective students?</label><br>
      <select ngModel id = "recommend" name="options">
        <option value="Very Likely">
          Very Likely
        </option>
        <option value="Likely">
          Likely
        </option>
        <option value="Unlikely">
          Unlikely
        </option>
      </select>
     
      <button type="submit">Submit Student Survey</button>
      <button (click)="clearSurvey()">Cancel</button>

    </form> -->
  </div>
</body>
</html>

