
<table id="surveys">
    <tr>
        <th>Student Id</th>
        <!-- <th>Username</th>
        <th>Phone Number</th>
        <th>Email</th>

        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>

        <th>Url</th>
        <th>Interests</th>
        <th>Campus Likes</th> -->

    </tr>

    <tr *ngFor="let survey of allSurveys">
      <td>
       <a href="completedsurvey?id={{survey}}">{{ survey }}</a>
      </td>
      <!-- <td>{{ survey.userName }}</td>
      
      <td>{{ survey.telephone }}</td>
      <td>{{ survey.email }}</td>

      <td>{{ survey.address }}</td>
      <td>{{ survey.city }}</td>

      <td>{{ survey.states }}</td>
      <td>{{ survey.zip }}</td>

      <td>{{ survey.url }}</td>
      <td>{{ survey.interested }}</td>

      <td>{{ survey.campuslikes }}</td> -->
    </tr>
  </table>
